.card {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  border: white;
}

.cardCollection {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  border: white;
  background-color: #E8F1F2;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  border: gray;
  border-width: 3px;
  background-color: #E8F1F2;
}

.border {
  border: 3px solid #a1a3a5!important;
}

.centerFloat {
  margin: auto;
  width: 70%;
  border: 5px solid #ffff00;
  padding: 10px;
}

.collection {
  grid-area: collection;
  background-color: #E8F1F2;
  overflow: auto;
}

.exactCenter {
  width: 70%;
  height: 90%;
  position: fixed;
  background-color: #00ff00;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.header {
  grid-area: header;
  background-color: #386FA4;
}

.footer {
  grid-area: footer;
  background-color: #386FA4;
}

.mainContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 8% 15% auto 7%;
  grid-template-areas:
    "header"
    "search"
    "collection"
    "footer";
  width: 100vw;
  height: 100vh;
}

.search {
  grid-area: search;
  background-color: #E8F1F2;
}

.trying {
  position: absolute;
  top: 5em;
  left: 5em;
  right: 5em;
  bottom: 5em;
  overflow: auto;
}

.tryingDetails {
  position: absolute;
  top: 5em;
  left: 15%;
  right: 15%;
  bottom: 5em;
  overflow: auto;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: auto;
  grid-template-areas:
    "image info"
}

.image {
  grid-area: image;
}

.info {
  grid-area: info;
}

.input {
  top: 30%;
  max-width: 35%;
  left: 32.5%
}

.input-group .btn {
  z-index: 0;
}

.input-group .btn:focus {
  visibility: hidden;
}

.titleFilter {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 900px) {
  .tryingDetails {
    position: absolute;
    top: 5em;
    left: 15%;
    right: 15%;
    bottom: 5em;
    overflow: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "info";
  }
  
  .image {
    grid-area: image;
    height: 404px;
    width: 293px;
    position: relative;
  }
  
  .info {
    grid-area: info;
    position: relative;
  }
}
